---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Glasmorphism design">
  <section class="flex justify-between items-center">
    <div class="flex flex-col space-y-1">
      <h1 class="font-medium text-md">How to contribute</h1>
      <p class="text-gray-500 text-sm">January 2024</p>
    </div>
    <div>Link</div>
  </section>

  <div class="space-y-3">
    <p class="text-gray-700 text-md">
      Thank you for your interest in contributing to our website of UI
      components based on the glasmorphism effect. Your help is greatly
      appreciated.
    </p>

    <h2 class="font-semibold text-gray-800 text-md">Requirements</h2>

    <p class="text-gray-700 text-md">
      To contribute to our website, you must meet the following requirements:
    </p>

    <ul class="text-gray-700 text-md">
      <li>You must have basic knowledge of HTML, CSS and JavaScript.</li>
      <li>You should be familiar with material design.</li>
      <li>You must be able to work independently and as part of a team.</li>
    </ul>

    <h2 class="font-semibold text-gray-800 text-md">Contribution process</h2>

    <p class="text-gray-700 text-md">
      The contribution process to our website is as follows:
    </p>

    <h3 class="text-md text-gray-600 font-semibold">Propose a component</h3>
    <p class="text-gray-700 text-md">
      If you have an idea for a UI component that you think would be useful to
      other developers, you can propose it by creating a new issue in our GitHub
      repository. In the issue, you must provide the following information:
    </p>

    <ul class="text-gray-700 text-md">
      <li>*Component description</li>
      <li>* Examples of use</li>
      <li>* Component name</li>
    </ul>
    <h3 class="text-md text-gray-600 font-semibold">Develop the component</h3>

    <p class="text-gray-700 text-md">
      Once your proposal has been approved, you can start developing the
      component. You must follow the following guidelines:
    </p>

    <ul class="text-gray-700 text-md">
      <li>* The component must be written in TypeScript.</li>
      <li>*The component must follow material design guidelines.</li>
      <li>The component must be thoroughly tested.</li>
    </ul>

    <h3 class="text-md text-gray-600 font-semibold">Send a pull request</h3>
    <p class="text-gray-700 text-md">
      Once you've developed the component, you can submit a pull request to our
      GitHub repository. In the pull request, you must provide the following
      information:
    </p>

    <ul class="text-gray-700 text-md">
      <li>* Summary of changes made</li>

      <li>* Tests carried out</li>
    </ul>

    <h3 class="text-md text-gray-600 font-semibold">Review the pull request</h3>
    <p class="text-gray-700 text-md">
      Once the pull request has been submitted, it will be reviewed by one of
      our developers. If the pull request is approved, it will be merged into
      the website's codebase.
    </p>

    <h2 class="font-semibold text-gray-800 text-md">Rewards</h2>

    <p class="text-gray-700 text-md">
      We appreciate everyone who contributes to our website. As a reward for
      your contribution, you will receive the following benefits:
    </p>

    <ul class="text-gray-700 text-md">
      <li>Your name will appear in the list of contributors on the website.</li>
      <li>You will receive a contributor badge on GitHub.</li>
      <li>You will be able to participate in discussions on the website.</li>
    </ul>

    <h2 class="font-semibold text-gray-800 text-md">Contact</h2>

    <p class="text-gray-700 text-md">
      If you have any questions about how to contribute to our website, you can
      send a message to the development team at the following address:
    </p>

    <p class="text-gray-700 text-md">[Email address]</p>
  </div>
</Layout>
